nav{ 
  display:flex ;
  justify-content: space-between;
  align-items: center;
  
}
nav>div{
  margin-top: 0.1rem;
  list-style-type: none;
}
nav>div>ul {
  display: flexbox;
 
  

 /*  background-color: #333; */
}

nav>div>ul>li {
  float:left;
  list-style-type: none;
}

nav>div>ul> li a {
  display: inline-block;
 /*  font-size: 1.6rem;
  font-weight: bolder; */
  
 /*  padding: 1rem; */
 /*  background-color: #e9c0c0; */
}
nav>div>ul> li a:hover{
  background-color: red;
}
#headerHome{
  display:flex ;
  justify-content: space-between;
  align-items: center;
  

}
#headerHome>li{
list-style-type:  none;
/* padding: 1rem; */
}

